@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

body {
    font-family: 'Chicle', cursive, sans-serif;
    font-size: 16px;
    color: #333333; 
    background: linear-gradient(to bottom right, #ffecb4, #75c8ae), url('clouds.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#app {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    width: 95%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    margin: 40px auto; /* Added margin for spacing */
}

.groovy-daisy {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-image: url('vecteezy_groovy-smiling-sunflower-cute-flower-flowers-lovers_45925617.png');
    background-size: cover;
    background-position: center;
    z-index: 1000;
}

h1 {
    font-size: 50px;
    color: #f4a127;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px 0 10px;
}

h2 {
    font-size: 26px;
    color: #5a3d2b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
}

h3 {
    font-size: 18px;
    color: #5a3d2b;
    margin: 15px 0 5px;
}

input {
    padding: 12px;
    border: 1px solid #75c8ae;
    border-radius: 10px;
    margin: 10px 0;
    width: calc(100% - 24px);
    box-sizing: border-box;
}

button {
    padding: 12px;
    background-color: #5a3d2b;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
    width: 80%;
}

button:hover {
    background-color: #6a5acd;
    transform: scale(1.05);
}

#weatherDisplay {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    background-color: rgba(241, 205, 202, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    line-height: 1;
}

.icon {
    font-size: 4em;
    width: 50px;
    height: auto;
    color: #ffecb4;
}

#historyList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#favoriteCitiesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#historyList li, #favoriteCitiesList li {
    padding: 15px;
    background-color: rgba(255, 240, 245, 0.8);
    border-radius: 10px;
    margin-bottom: 10px;
}

#saveButton {
    margin-top: 10px;
    padding: 8px;
    background-color: #b65a2e;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: auto;
}

#saveButton:hover {
    background-color: #ff4b3a;
}

@media (max-width: 400px) {
    #app {
        width: 90%;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }

    h1 {
        font-size: 24px;
    }

    h2, h3 {
        font-size: 12px;
    }
}
